<div class="container">
    <section class="row">
        <div class="fs-1 m-auto">Current House Listings</div>
    </section>




    <section id="housesList" class="m-auto py-2 row">
        <!-- <div class="col-10">

            <div class="card border-secondary">
                <img class="card-img-top w-25" src="" alt="Title" />
                <div class="card-body">
                    <h4 class="card-title">House Title</h4>
                    <p class="card-text">Description: </p>
                    <p class="card-text">Bedrooms:</p>
                    <p class="card-text">Bathrooms: </p>
                    <p class="card-text">Square Footage: </p>
                    <p class="card-text">Price: </p>
                </div>
            </div>
        </div> -->
    </section>
</div>

<div class="container">
    <section class="row bg-white shadow">
        <div class="col-12">
            <form>
                <div class="mb-3">
                    <label for="housetital" class="form-label">Title of House</label>
                    <div id="housetitaldescrip" class="form-text">Give us a general term for your house.</div>
                    <input maxlength="20" minlength="3" type="text" required class="form-control" id="housetital"
                        aria-describedby="housetitaldescrip">
                </div>
                <div class="mb-3">
                    <label for="housedescrip" class="form-label">Description of House </label>
                    <div id="housedescrip" class="form-text">Give us an overall description of your house.</div>
                    <textarea minlength="25" maxlength="1000" required class="form-control"
                        id="housedescrip"></textarea>
                </div>
                <div class="mb-3">
                    <label for="housebedroomdescrip" class="form-label">Bedrooms </label
                        aria-describedby="houseroomdescrip">
                    <input min="1" max="1000" type="number" class="form-control" id="housebedrooms">
                    <div id="houseroomdescrip" class="form-text">You can also list this in your description.</div>
                </div>
                <div class="mb-3">
                    <label for="housebathroomdescrip" class="form-label">Bathrooms </label
                        aria-describedby="houseroomdescrip">
                    <input min="1" max="1000" type="number" class="form-control" id="housebathrooms">
                    <div id="houseroomdescrip" class="form-text">You can also list this in your description.</div>
                </div>
                <div class="mb-3">
                    <label for="housefootagedescrip" class="form-label">Square Footage </label
                        aria-describedby="houseroomdescrip">
                    <input min="1" max="1000000" type="number" class="form-control" id="housefootagedescrip">
                    <div id="houseroomdescrip" class="form-text">You can also list this in your description.</div>
                </div>
                <div class="mb-3">
                    <label for="pricedescrip" class="form-label">Price </label aria-describedby="pricedescrip">
                    <input type="number" class="form-control" min="0" max="1000000000">
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </section>
</div>