<div class="container">
    <section class="row">
        <div class="fs-1 m-auto">Current House Listings</div>
    </section>




    <section class="row">
        <!-- <div class="col-10">

            <div class="card border-secondary">
                <img class="card-img-top w-25" src="" alt="Title" />
                <div class="card-body">
                    <h4 class="card-title">House Title</h4>
                    <p class="card-text">Description: </p>
                    <p class="card-text">Bedrooms:</p>
                    <p class="card-text">Bathrooms: </p>
                    <p class="card-text">Square Footage: </p>
                    <p class="card-text">Price: </p>
                </div>
            </div>
        </div> -->
    </section>
</div>